@model BlogAsp.Models.News_

@{
    ViewData["Title"] = "Details";
}
<main class="mt-5 d-flex flex-column justify-content-center">
    <img src="@Html.DisplayFor(model => model.ImageSource)" />
    <h1 class="mt-5 fs-1">
        @Html.DisplayFor(model => model.Title)
    </h1>

    <p class="mt-5" style="font-size:28px;">
        @Html.DisplayFor(model => model.Description)

    </p>
</main>


