@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";
}

<h1>@LoggedInUser.UserName</h1>
<h2>@LoggedInUser.Email</h2>
<a style="text-decoration: none;" type="button" class="btn btn-danger" asp-controller="Profile"  asp-action="Log_out" >Log out!</a>