@{
    ViewData["Title"] = "Log in";
}
@model User

<h1>Log in!!!!!!!!!!!</h1>

<form method="post" asp-controller="Auth" asp-action="Check">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>

    <input type="submit" value="Log in!" />

</form>

<h1>Don't have an account? Create one!</h1>
<a asp-controller="Auth" asp-action="Register">Sign up!</a>

